<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <section class="add">
      <h1>
        <%= title %>
      </h1>
      标题：<input type="text" id="title">
      <textarea name="" id="msg" cols="30" rows="10"></textarea>
      关键词：<input type="text" id="keyword">
      <span id="sss">提交</span>
    </section>
  </body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/js/add.js"></script>