<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <p>Welcome</p>
      <a href="/login">登录</a>
      <a href="/register">注册</a>
    </section>
  </body>
</html>
