<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <section class="list">
      <h1>
        <%= title %>
      </h1>
      <div>
        <ul>
          <% for (var i = 0; i < data.length; i++) { %>
            <li>
              <a href="./detail?userName=<%= data[i].userName %>"><%= data[i].userName %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>