<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <section class="login">
      <h1>login</h1>
      <form name="loginMsg" method="post">
        <label for="">
          <span>用户名：</span><input id="username" required type="text" name="username">
        </label><br />
        <label for="">
          <span>密码：</span><input id="password" required type="password" name="password">
        </label><br />
        <span class="btn" id="sss">登录</span>
        <a href="./register">注册</a>
      </form>
    </section>
  </body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/js/login.js"></script>