<!DOCTYPE html>
<html>
  <head>
    <title>register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="register">
      <h1>register</h1>
      <form name="registerMsg" method="post">
        <label for="">
          <span>用户名：</span><input required type="text" name="username" id="username">
        </label><br />
        <label for="">
          <span>密码：</span><input required type="password" name="password" id="passwordF">
        </label><br />
        <label for="">
          <span>确认密码：</span><input required type="password" name="password" id="passwordS">
        </label><br />
        <span id="sss" class="btn">注册</span>
      </form>
    </section>
  </body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/javascripts/register.js"></script>
