* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.register .btn, .login .btn {
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 0;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

.register input, .login input {
  width: 350px;
  height: 32px;
  display: inline-block;
  margin-top: 10px;
  padding: 0 5px;
  border: 1px solid #ccc;
}
.register label span, .login label span {
  width: 75px;
  display: inline-block;
  margin-right: 5px;
}

.user {
  width: 1000px;
  margin: 10px auto;
}

.user #addMsg {
  font-size: 24px;
  margin-top: 20px;
}

.user h1 {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.user h1 a:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
}

.user h1 a:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
}

.user h1 a:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}

.user .nav {
  display: flex;
}
.user .nav li {
  flex: 1;
  text-align: center;
  background: #ccc;
  border: 1px solid silver;
}

.user .nav li:hover {
  background: #eee;
  cursor: pointer;
}

.user .goBackSelf {
  display: none;
}

.add textarea, .edit textarea {
  display: block;
  margin: 10px 0;
}

.add input, .edit input {
  display: inline-block;
  margin: 10px 0;
}
.add span, .edit span  {
  display: block;
  cursor: pointer;
}
